* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, #root {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error-container {
  color: rgb(207, 56, 56);
  font-size: 15rem;
}

.not-found {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-container {
  font-size: 2rem;
  color: rgb(39, 39, 39);
  text-align: center;
}

.login-container {
  background: linear-gradient(rgb(246, 246, 246), rgb(224, 224, 224));
  height: 45rem;
  width: 30rem;
  box-shadow: 0 0 10px rgb(87, 87, 87);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-container input {
  width: 75%;
  height: 2rem;
  background: rgba(224, 224, 224, 0.616);
  border: none;
  outline: none;
  border-radius: 10px;
  border-bottom: 3px solid rgba(131, 131, 131, 0.527);
  margin-bottom: 1.2rem;
  text-align: center;
  color: rgb(1, 155, 1);
  font-size: 1.4rem;
}

.login-container input:focus {
  border-bottom: 3px solid rgb(94, 119, 94);
}

.login-container input:focus::placeholder {
  color: rgb(32, 131, 32);
}

.btn-login:disabled {
  width: 50%;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: 10px;
  border: none;
  cursor: not-allowed;
  background: linear-gradient(rgb(141, 182, 141), rgb(94, 119, 94));
}

.btn-login:enabled {
  background: linear-gradient(rgb(101, 184, 101), rgb(68, 116, 68));
  width: 50%;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: 10px;
  border: none;
  cursor: not-allowed;
}

.btn-login:enabled:hover {

  border-radius: 10px;
  border: 3px solid rgb(56, 56, 56);
  color: rgb(44, 44, 44);
  background: linear-gradient(rgba(141, 182, 141, 0.466), rgba(94, 119, 94, 0.445));
}

.login-title, .coins-container{
  margin-bottom: 5rem;
  font-size: 5rem;
}

.login-title {
  color: rgb(65, 65, 65);
}

.wall {
  color: limegreen;
}

.coins-container {
  animation: ping 1s infinite;
  color: rgb(228, 200, 42);
}

@keyframes ping {
  0% {
    transform: translateY(6px);
  }
  50% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(6px);
  }
}

.wallet-page {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background: linear-gradient(rgb(204, 204, 204), rgb(161, 161, 161));
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.3rem;
}

.info {
  display: flex;
  justify-content: space-between;
  width: 35rem;
}

form {
  background: linear-gradient(rgba(101, 187, 101, 0.849), rgba(31, 114, 31, 0.876));
  width: 100%;
  height: 70px;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

form input, form select {
  border-radius: 8px;
  overflow: 0;
  outline: none;
  border: none;
  padding: 6px;
  margin: 0 15px;
  background: rgba(222, 236, 222, 0.849);
}



.total-field {
  background-color: rgb(148, 148, 148);
  padding: 5px;
  border-radius: 8px;
}

.header-title {
  margin: 0;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.589);
  font-size: 3rem;
}

.btn-add {
  padding: 13px;
  border-radius: 8px;
  background: linear-gradient(rgb(106, 106, 230), rgb(63, 63, 179));
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
  color: white;
}

.btn-add:hover {
  background: linear-gradient(rgb(136, 136, 226), rgb(93, 93, 156));
  color: rgb(39, 39, 39);
}

.new-exp {
  font-size: 2rem;
  margin-top: 30px;
  color: rgb(47, 47, 47);
}

td {
  padding: 15px;
}

table {
  width: 90%;
}

.exp {
  font-size: 1.2rem;
  padding: 20px;
}

.exp:nth-child(2n+1) {
  background-color: rgb(189, 189, 189);
}

.delete, .delete-all {
  width: 100%;
  background-color: rgb(206, 70, 70);
  border: none;
  height: 30px;
  font-size: 1.2rem;
  border-radius: 10px;
  cursor: pointer;
}

.delete:hover {
  background-color: rgb(209, 121, 121);
}

.delete-all {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  text-align: center;
  padding: 20px 0;
  background: linear-gradient(rgb(224, 11, 11), rgb(149, 0, 0));
}

.delete-all:hover {
  background: linear-gradient(rgb(224, 11, 11), rgb(39, 0, 0));
  color: rgb(223, 223, 223);
}